{
  "presets": [
    "react-app"
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": false,
        "pure": true,
        "minify": true,
        "transpileTemplateLiterals": true
      }
    ]
  ]
}